.title {
    
    cursor: pointer;
    font-weight: bolder;
    margin-top: 50px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    color: rgb(83, 125, 251);;
    
    
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

