.footer{
    background-color: rgb(255, 255, 255);
    color: rgb(105, 105, 105);
    font-size: small;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(220, 220, 220);
    margin-top: 0px;
    width: 100%;
    
    
}