.qnumber {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    
    align-items: center;
    font-size: x-small;
    margin-top: 5px;
    
  }
.q {
    width: auto;
    max-width: 650px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    font-size: large;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
    
}
  
.choiceSelect {
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}
  
.singleOption {
    width: 90%;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    height: 60px;
    padding: 15px 20px;
    margin: 10px;
    border: none;
    border-radius: 7px;
    
}
.nextQ {
    margin-top: 25px;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 10px; /* Add margin between the buttons */
    margin-left: 10px; /* Add margin between the buttons */
}
.nextQ Button {
    margin: 0 5px; /* Adjust margin to control spacing between buttons */
}
  
@media (max-width: 614px) {
    .singleOption {
      width: 100%;
    }
}
  
  
.true {
    background-color: #05be70;
    color: white;
    
}
  
.false {
    background-color: #e4443F;
    color: white;
    
}

.true,
.false {
    width: calc(90% - 20px);
    font-size: large;
    font-family: 'Roboto', sans-serif;
    height: 60px;
    padding: 15px 20px;
    margin: 10px;
    border: none;
    border-radius: 7px;
}

.lives {
    width: auto;
    border: none;
    border-width: auto 3px;
    border-radius: 7px; 
    padding: 10px; 
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-weight: normal; 
    color: rgb(63, 63, 63);
    background-color: aliceblue;
    margin-top: 0px;
    margin-bottom: 30px;
}