.qnumber {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    font-size: x-small;
    margin-top: 5px;
    
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.q {
    width: 100%;
    max-width: 700px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    font-size: large;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    animation: fadeIn 0.5s ease-in;
}
  
.choiceSelect {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}
  
.singleOption {
    width: 90%;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    height: 60px;
    padding: 15px 20px;
    margin: 10px;
    border: none;
    border-radius: 7px;
    transition: background-color 0.3s ease-in-out;
}

.nextQ {
    margin-top: 25px;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    
}

.nextQ Button {
    margin: 0 5px; 
}
  
@media (max-width: 614px) {
    .singleOption {
      width: 100%;
    }
}
  
.true {
    background-color: #05be70;
    color: white;
    
}
  
.false {
    background-color: #e4443F;
    color: white;
    
}

.true,
.false {
    font-size: large;
    font-family: 'Roboto', sans-serif;
    height: 60px;
    border: none;
    border-radius: 7px;
    transition: background-color 0.3s ease-in-out;
}

.lives {
    width: auto;
    border: none;
    border-width: auto 3px;
    border-radius: 7px; 
    padding: 10px; 
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-weight: normal; 
    color: rgb(63, 63, 63);
    background-color: aliceblue;
    margin-top: 0px;
    margin-bottom: 30px;
}