@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
}

a{
  color: inherit;
  text-decoration: inherit;
}

.App{
  min-height: 100vh;
  margin: 0px;
  padding: 25px;
  background-color: rgb(255, 255, 255);
}

